@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}

.mycard {
  width: 400px;
  height: 600px;
  background: white;
  border-radius: 20px;
  margin: 0 auto;
}

#lucky {
  font-size: 10em;
}

.Spades:before {
  content: "\2660";
}
.Clubs:before {
  content: "\2663";
}
.Hearts:before {
  color: red;
  content: "\2665";
}
.Diamonds:before {
  color: red;
  content: "\2666";
}
